<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Geocoding</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
  		org.apache.struts2.dispatcher.FilterDispatcher
  	</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>shu.nova.servlet.UploadFile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RefreshData</servlet-name>
    <servlet-class>shu.nova.servlet.RefreshData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportExcelData</servlet-name>
   <servlet-class>shu.nova.servlet.ExportExcelData</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RefreshData</servlet-name>
    <url-pattern>/RefreshData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportExcelData</servlet-name>
    <url-pattern>/ExportExcelData</url-pattern>
  </servlet-mapping>
</web-app>